<h2>Lista de Categorias: </h2>

<a href="/admin/categorias/add">
    <button class="btn btn-success my-2">Nova categoria</button>
</a>

{{#each categorias}}

<div class="card mt-4 mb-4">
    <div class="card-body">
        <h4>{{nome}}</h4>
        <p>
            <smal>Slug: {{slug}}</smal>
        </p>
        <p>
            <smal>Data de criação: {{date}}</smal>
        </p>
        <a href="/admin/categorias/edit{{_id}}">
            <button class="btn btn-success">Editar categoria</button>
        </a>
        <form action="/admin/categoria/deletar" method="POST">
            <input type="hidden" name="id" value="{{_id}}">

            <button type="subimit" class="btn btn-danger mt-2">Deletar categoria</button>
        </form>
    </div>
</div>

{{else}}
    <h4>Nenhuma categoria cadastrada</h4>
{{/each}}